* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 100px 0;
  align-items: center;
  justify-content: center;
}
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-element {
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
  width: 300px;
}

.container button {
  margin: 20px 0 0 0;
  
}
