* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 400px;
  min-width: 500px;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
.userName {
  position: absolute;
  right: 30px;
  top: 15px;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgray;
  border: 1px solid lightgray;
}
.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 0, 0.9);
  border-radius: 10px;
  padding: 20px;
}

.todoList h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 0, 0.9);
  border-radius: 10px;
  margin: 5px 0;
  padding: 20px;
  position: relative;
  cursor: pointer;
}
.card:hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.cardTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: rgba(100, 100, 100, 0.03);
  padding: 2px 15px;
  border-radius: 15px;
}
.endTime {
  position: absolute;
  left: 8px;
  top: 12px;
  font-weight: 300;
  font-size: 11px;
  color: aliceblue;
  border: 1px solid #0c8712;
  background-color: #0c8712;
  padding: 3px;
  border-radius: 10px;
}
.delete {
  position: absolute;
  right: 5px;
  top: 5px;
}
.addTask {
  margin: 25px 0 0 0;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.addTask:hover {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}
@media screen and (max-width: 1300px) {
  .card {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 0, 0.2);
  }
}
@media screen and (max-width: 600px) {
  .loginUser{
    height: 100%;
  }
  .userContainer {
    min-width: 100%;
  }
  .todoList {
    width: 100%;
    border: none;
    margin-bottom: 0;
  }
  .userName{
    position: inherit;
  }
}
